# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://xdmiteplsqydnxonhuiy.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_-REK9_7a-0QQs735EiB0Aw_uo_Z0Dz0
SUPABASE_SERVICE_ROLE_KEY=sb_secret_7Vy5367RnsxRqHRf4umojw_RyzZ_-6q

# Kinde Auth
KINDE_CLIENT_ID=e9e02a17d5d347b59027066cea748ba3
KINDE_CLIENT_SECRET=gRlaTvM2jumGrbssjwryte6GYPQsU3M7oQFdYTNBoSdMEqVJqqP3
KINDE_ISSUER_URL=https://stackcess.kinde.com
KINDE_SITE_URL=http://localhost:3001
KINDE_POST_LOGOUT_REDIRECT_URL=http://localhost:3001
KINDE_POST_LOGIN_REDIRECT_URL=http://localhost:3001/dashboard

# AWS S3
AWS_ACCESS_KEY_ID=AKIAR4C52JGJ2T4CBACT
AWS_SECRET_ACCESS_KEY=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
AWS_REGION=ap-southeast-2
AWS_S3_BUCKET=stackcess

# Application
NEXT_PUBLIC_APP_URL=http://localhost:3001